extends layout

block content
    h1= title
    each element in userData
        div= element.first_name+' - '+element.last_name+' - '+element.email
        a(href='/users/'+element.id) Megnyit
        br